body{
  margin: 0px;
  padding: 0px;
}
.top-sect {
  height: 50vh;
  width: 100%;
  background-image: url("./background-image.jpg");
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.sign-btn {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.sign-btn:hover {
  background-color: black;
  color: white;
  border: none;
}

.btn {
  width: 100%;
  height: 60px;
  display: flex;
  float: left;
  justify-content: center;
}

.main{
  background-color: bisque;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-one{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-two{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  color: rgb(117, 114, 18);
}

#image:hover {
  width: 200px;
  height: 70%;
}

h1, h3 {
  font-size: 25px;
  -webkit-text-stroke: 2px rgb(117, 114, 18);
  font-family: sans-serif;
}